<div class="row logged-user">
    <div class="row empty"></div>
    <div class="row">
        <div class="col-md-0"></div>
        <div id="greeting" class="col-md-3"><h2 class="h2" style="color: #00b3ee">Hello, <span id="greeting-span"></span></h2></div>
        <div class="col-md-9"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4>Add new video:</h4>
            <input type="text" class="form-control" id="add-video" placeholder="Enter video url here">
            <h4>Add category:</h4>
            <input type="text" class="form-control" id="category" placeholder="Enter category">
            <a href="#" class="btn btn-info" id="add-form-btn">Add video</a>
            <input type="text" class="form-control" id="show" placeholder="Enter category">
            <a href="#" class="btn btn-info" id="show-form-btn">Show</a>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="users-videos"></div>
        <div class="col-md-1"></div>
    </div>
</div>
<script src="controllers/loggedController.js"></script>