.buttons {
    text-align: center;
}

h5:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    display: inline-block;
}

.h3 {
    margin-left: 50px;
}

.h2 {
    text-align: center;
}

.h4 {
    display: inline-block;
}

.row a {
    float: right;
}

.empty {
    height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 15px;
}

li {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

#music-videos , #telerik-videos{
    list-style-type: none;
}

#music-videos li , #telerik-videos li{
    height: 140px;
    width: 220px;
    float: left;
}

.clearfix{
    clear: both;
}

.form-control {
    margin-bottom: 10px;
}

#add-dd {
    display: block;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
}
