#user-name {
    display: none;
}

#logout {
    display: none;
}

.buttons {
    text-align: center;
}

h5:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    display: inline-block;
}

.h3 {
    margin-left: 50px;
}

.h2 {
    text-align: center;
}

.h4 {
    display: inline-block;
}

.row a {
    float: right;
}

.empty {
    height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 15px;
}

li {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.clearfix {
    clear: both;
}

.form-control {
    margin-bottom: 10px;
}

#add-dd {
    display: block;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
}

#login {
    margin: 10px;
    font-weight: bold;

}

#contacts {
    margin: 10px;
    font-weight: bold;

}

#welcome, #members {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}

#welcome h2, h4 {
    font-family: 'Ubuntu', sans-serif;

}

#home {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    margin: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}