
#main-container {
    border: 3px solid black;
    height: 700px;
}

#on-log {
    display: none;
}

.login-div {
    display: none;
}

.register {
    display: none;
}

.buttons {
    display: none;
    text-align: center;
}

.contacts {
    display: none;
}

.logged-user {
    display: none;
}

p {
    text-decoration: underline;
}

.btn {
    display: inline-block;
}

.h3 {
    margin-left: 50px;
}

.h2 {
    text-align: center;
    margin: 35px;
    font-size: 3em;
}

.h4 {
    display: inline-block;
}

.row a {
    float: right;
}

.empty {
    height: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 10px;
}

li {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}
#music-videos, #telerik-videos{
    overflow-y: scroll;
    height: 200px;
    width: 100%;
}

#music-videos li,#telerik-videos li {
    height: 80px;
    width: 120px;
    border: 2px solid gray;
    float:left;
}

.form-control {
    margin-bottom: 10px;
}

#add-dd {
    display: block;
    margin-bottom: 10px;
}

iframe {
    width: 120px;
    height: 80px;
}

.navbar ul li a {
    background-color: #cc0000;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bolder;
}

.navbar-brand{
    font-size: 1.6em;
    font-weight:: bold;
    margin: 15px;
}
#add-form-btn{
    float:right;
}

#greeting-span{
    font-size: 1.5em;
    font-weight: boler;
    float:left;
}