.buttons {
    text-align: center;
}

h5:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    display: inline-block;
}

.h2 {
    text-align: center;
}

.h4 {
    display: inline-block;
}

.row a {
    float: right;
}

.empty {
    height: 100px;
}

ul {
    list-style-type: none;
    padding: 6px;
    border-radius: 15px;
}

.clearfix {
    clear: both;
}

.form-control {
    margin-bottom: 10px;
}

#add-dd {
    display: block;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
}

#login,#contacts {
    margin: 5px;
    font-weight: bold;
}

#welcome, #members {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}

#welcome h2, h4 {
    font-family: 'Ubuntu', sans-serif;

}

#home {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    margin: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#greeting-span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    color:#00b3ee;
}

#user-name{
    font-family: 'Ubuntu', sans-serif;
    color:#00b3ee;
    font-weight: bold;
}

#logout{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

}