#main-container {
    border: 3px solid black;
    height: 700px;
}

#on-log {
    display: none;
}

.login-div {
    display: none;
}

.register {
    display: none;
}

.buttons {
    display: none;
    text-align: center;
}

.contacts {
    display: none;
}

.logged-user {
    display: none;
}

p {
    text-decoration: underline;
}

.btn {
    display: inline-block;
}

.h3 {
    margin-left: 50px;
}

.h2 {
    text-align: center;
}

.h4 {
    display: inline-block;
}

.row a {
    float: right;
}

.empty {
    height: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 15px;
}

li {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

#music-videos li {
    height: 80px;
    width: 120px;
    border: 1px solid black;
}

.form-control {
    margin-bottom: 10px;
}

#add-dd {
    display: block;
    margin-bottom: 10px;
}

